@model Sistema_de_Prestamo.Models.Prestamo

@{
    ViewBag.Title = "Create";
}
<style>
    @@media print {
        .no-print, .no-print * {
            display: none !important;
        }
    }
</style>
<h2 class="no-print">Crear</h2>


@using (Html.BeginForm(null, null, FormMethod.Post,new { id="form-prestamos"}))
{
  

    <div class="form-horizontal no-print">
        <h4>Prestamo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Interes,"Interes %", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Interes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Interes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoCuotas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoCuotas, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoCuotas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            var formaPago = new List<SelectListItem>()
            {
            new SelectListItem()
            {
            Text="Diario"
            }, new SelectListItem()
            {
              Text=  "Semanal"
            },
            new SelectListItem()
            {
              Text=  "Quincenal"
            },
            new SelectListItem()
            {
              Text=  "Mensual"
            },
            new SelectListItem()
            {
              Text=  "Anual"
            }
        };
        }
        <div class="form-group">
            @Html.LabelFor(model => model.FormaPago, "Forma de Pago", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FormaPago", formaPago, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FormaPago, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MontoCuota, "Monto de Cuota", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MontoCuota, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MontoCuota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalIntereses, "Total Interes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalIntereses, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TotalIntereses, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MontoPagar, "Monto a  Pagar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MontoPagar, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MontoPagar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cliente_Id, "Cliente", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cliente_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cliente_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prestadore_Id, "Prestador", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Prestadore_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Prestadore_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="btn-group" role="group" aria-label="...">
                    <input type="button" value="Crear Prestamo" id="enviar" class="btn btn-success" />
                    <input type="button" value="Generar Cuota" onclick="GenerarCuota();" class="btn btn-info" />
                </div>

            </div>
        </div>
    </div>
}
<!-- Modal -->
<div id="modalCuotas" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close no-print" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cuotas</h4>
            </div>
            <div class="modal-body">
                <form id='form-cuotas no-print'>

                    <table id="tablaCuotas" class="table table-striped">

                        <thead>
                            <tr>
                                <th>N° de Cuota</th>
                                <th>Fecha Pago</th>
                                <th>Interes</th>
                                <th>Capital</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger no-print" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success no-print" onclick="window.print();" >Imprimir Cotizacion</button>
            </div>
        </div>

    </div>
</div>
<div>
    @Html.ActionLink("Ir al listado", "Index",null, new{@class="no-print"})
</div>

  </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/prestamos")

}
